.footerContainer {
    sticky: bottom;
    height: 40;
    font-family: Calibri;
    font-size: 25px;
    max-width: 100%;
    color: white;
    background-color: #131921;
}

.footerText {
    text-align: center;
}

@media (max-width: 991px) {
    .footerText {
        font-size: 15px
    }
}