.header {
    height: 60px;
    display: flex;
    min-width: 400px;
    align-items: center;
    background-color: #131921;
    z-index: 100;
}

.basic-navbar-nav {
    background-color: #131921;
}

.headerLogo {
    width: 125px;
    object-fit: contain;
    margin: 0 20px;
    border-radius: 5px;
}

.headerLogo:hover {
    border: 2px grey solid;
}

.headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.headerSearchInput {
    border: none;
}

.headerSearchIcon {
    color: black!important;
    padding : 5px;
    background-color: #febd69 !important;
}

.headerSearchIcon:hover {
    background-color: #ffa41c!important;
}

.headerOptionLine1 {
    font-size: 12px;
    color: white;
}

.headerOptionLine2 {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/*.headerNav {*/
/*}*/

.headerOptionContainer {
    border-radius: 5px;
}

.headerOption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.burgerButton {
    border: 2px #f2d356 solid!important;
    background-color: white!important;
    margin-right: 50px;
    margin-bottom: 10px;
}

.burgerButton:hover {
    border: 2px grey solid;
}

.headerOptionCart {
    display: flex;
    align-items: center;
}

.cart {
    background-color: #131921 !important;
}

.headerCartCount {
    font-size: 20px;
    margin-left: 5px;
}