.loadingBoxContainer {

}

.loading-box:after,
.loading-box:before {
    content: ''
}

.loading-box,
.loading-box:after,
.loading-box:before {
    width: 70px;
    position: absolute;
    left: 0
}

.loading-box {
    height: 200px;
    margin: auto;
    right: 0;
    top: 130px;
    z-index: 10000
}

.loading-box:before {
    height: 15px;
    background: #131921;
    opacity: .9;
    top: 75px;
    border-radius: 50%;
    animation: shadow .5s linear infinite
}

.loading-box:after {
    height: 70px;
    background: #f2d356;
    opacity: .9;
    animation: animate .5s linear infinite;
    top: 0;
    border-radius: 15px
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 10px
    }
    25% {
        transform: translateY(9px) rotate(22.5deg)
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px
    }
    75% {
        transform: translateY(9px) rotate(67.5deg)
    }
    100% {
        transform: translateY(0) rotate(90deg)
    }
}

@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.2, 1)
    }
}