.productContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-end;
    max-width: 350px;
    margin: 20px;
    padding: 30px;
    z-index: 1 !important;
}

.productPictureContainer {
    text-align: center;
}

.productPicture {
    text-align: center;
    z-index: 1;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
}

@media (max-width: 991px ) {
    .productPicture {
        height: 400px;
    }
    .addToBasket {
        width: 250px;
    }
}

.name {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom: 0px;
}

.productRating {
    margin-bottom: 10px;
}

.ratingStars {
    color: #ffa41c;
}

.productPrice {
    margin-left: 5px;
    margin-bottom: 10px;
}

.addToBasketContainer {
    text-align: center;
}

.addToBasket {
    border: none;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 50px;
    background-color: #ffd814;
}