.product {
    border: 10px;
    border-color: #131921;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    z-index: 1 !important;
}

.productPicture {
    z-index: 1;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
}

@media (max-width: 991px ) {
    .productPicture {
        height: 450px;
    }
}

.name {
    margin-left: 5px;
    margin-bottom: 0px;
}

.productRating {
    margin-bottom: 10px;
}

.ratingStars {
    color: #ffa41c;
}

.productPrice {
    margin-left: 5px;
    margin-bottom: 10px;
}

.addToBasket {
    border: none;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 50px;
    background-color: #ffd814;
}