.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    z-index: 100;
}

.basic-navbar-nav {
    background-color: #131921;
}

.headerLogo {
    width: 125px;
    object-fit: contain;
    margin: 0 20px;
}

.headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.headerSearchInput {
    border: none;
}

.headerSearchIcon {
    padding: 4px;
    background-color: #cd9042 !important;
}

.headerOptionLine1 {
    font-size: 12px;
    color: white;
}

.headerOptionLine2 {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/*.headerNav {*/
/*}*/

.headerOption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.headerOptionCart {
    display: flex;
    align-items: center;
}

.cart {
    background-color: #131921 !important;
}

.headerCartCount {
    font-size: 20px;
    margin-left: 5px;
}